.subject {
    color:black;
    background-color:rgb(193, 230, 252);
    width: 20%;
    height: 200px;
    margin-top: 60px;
    margin-left: 10%;
   
    border-radius: 0.5rem;
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(144, 143, 209, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    font-size: 27px;
    
    
}

.p{
position: relative;
margin-left: 40%;
font-size: 57px;

}