.hintShow {
  display: block;
  background-color: aliceblue;
}
.hintHidden {
  display: none;
}

.pdInvalid {
  color: dimgrey;
  font-style: italic;
}

.pdValid {
  color: green;
  font-style: italic;
}
